<section class="container">
    <!--<a ui-sref="products" class="btn btn-info mb-4">Show all products</a>-->
    <!--<a ui-sref="products.edit({id : product.id})" class="btn btn-success mb-4">Edit Product</a>-->
    <!--<a ui-sref="products.delete" class="btn btn-danger text-white mb-4">Delete product</a>-->

    <div class="card">
        <div class="card-header">
            {{ task.name }}
        </div>
        <div class="card-body">
            <div ng-bind-html="task.description "></div>
        </div>
    </div>

    <form class="form-group" ng-submit="sendComment()">
        <input type="text" ng-model="comment" class="form-control">
        <button class="btn btn-success" type="submit">SEND</button>
    </form>


    <div class="card" ng-repeat="comment in comments">
        <div class="card-body">
            {{ comment.content }}
            <div class="ml-5 border-dark border" ng-repeat="reply in comment.comment_reply">
                {{ reply.content }}
            </div>
        </div>
    </div>
</section>